@page
@model ConfirmEmailChangeModel
@{
    ViewData["Title"] = "Confirm email change";
}

<h1 class="text-center">@ViewData["Title"]</h1>
<div class="col-12 d-flex justify-content-center">
    <partial name="_StatusMessage" model="Model.StatusMessage" />
</div>
