@page "/Dashboard"
@using ChatRPG.Data

<h1>Dashboard</h1>

<div class="conversation">
    <div class="conversation-text">
        @foreach (string message in _conversation)
        {
            <p>@message</p>
        }
    </div>
</div>

<div class="user-prompt">
    <input type="text" @bind="_userInput" placeholder="What do you do?" @onkeyup="@EnterKeyHandler"/>
    <button @onclick="SendPrompt">Send</button>
</div>


@code {
    private readonly FileUtility _fileUtil = new FileUtility();
    readonly List<string> _conversation = new List<string>();
    string _userInput = "";

    async Task EnterKeyHandler(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            await SendPrompt();
        }
    }

    async Task SendPrompt()
    {
        if (!string.IsNullOrWhiteSpace(_userInput))
        {
            // Use the user input to generate a response
            MessagePair messages = new MessagePair();
            _conversation.Add($"Player: {_userInput}");
            messages.PlayerMessage = _userInput;
            string response = ProcessUserInput(_userInput);
            _conversation.Add($"Assistant: {response}");
            messages.AssistantMessage = response;
            await _fileUtil.UpdateSaveFileAsync(messages);

            // Clear the user input
            _userInput = "";

            // Notify the component to re-render because of async methods
            StateHasChanged();
        }
    }

    string ProcessUserInput(string input)
    {
        // Temporary response
        return "This is the game's response to your input.";
    }

}
