@namespace ChatRPG.Pages

<div style="position: relative">
    <div class="progress health-bar">
        <div class="progress-bar bg-danger" role="progressbar" style="@($"width: {Percentage}%");" aria-valuenow="@CurrentHealth" aria-valuemin="0" aria-valuemax="@MaxHealth"></div>
    </div>
    <div class="health-bar-text fw-bold">@($"{CurrentHealth}/{MaxHealth}")</div>
</div>

@code {

    [Parameter]
    [EditorRequired]
    public int? MaxHealth { get; set; }

    [Parameter]
    [EditorRequired]
    public int? CurrentHealth { get; set; }

    private double? Percentage => (double?) CurrentHealth / MaxHealth * 100;
}
