@page "/"
@implements IDisposable

<AuthorizeView>
    <NotAuthorized>
        <PageTitle>ChatRPG</PageTitle>

        <div class="container-front">
            <h1 class="title text-readable title-front">
                @_titleDisplayText<span class="cursor" style="visibility: @(_cursorVisible ? "visible" : "hidden")">|</span>
            </h1>
            <p class="slogan-front text-readable">Immerse yourself in the ultimate AI-powered adventure!</p>
            <LoginDisplay/>
        </div>
    </NotAuthorized>
    <Authorized>
        <PageTitle>Dashboard - ChatRPG</PageTitle>

        <header>
            <nav class="navbar navbar-dark custom-gray-container border-bottom box-shadow full-width-element">
                <div class="container">
                    <a class="navbar-brand" href="/">
                        <div class="logo-name-group">
                            <img class="site-icon" src="favicon.png" asp-append-version="true"
                                 alt="Adventure game logo">
                            <div class="logo-name-group-text">
                                ChatRPG
                            </div>
                        </div>
                    </a>
                    <div class="d-sm-inline-flex flex-sm-row-reverse">
                        <p>Welcome, @context.User.Identity!.Name! [<a href="/Logout">Logout</a>]</p>
                    </div>
                </div>
            </nav>
        </header>

        <div class="container-front">
            <UserCampaignOverview/>
        </div>

        <footer class="footer pl-3 text-muted footer-formatting fixed-bottom custom-gray-container">
            <div class="container">
                &copy; 2023 - ChatRPG
            </div>
        </footer>
    </Authorized>
</AuthorizeView>