@using ChatRPG.API
@using OpenAI_API.Chat
@using static OpenAI_API.Chat.ChatMessageRole
@inherits ComponentBase

<div class="message-container message-container-@($"{MessagePrefix.ToLower()}")">
    <p class="message message-@($"{MessagePrefix.ToLower()}")">@(MessagePrefix): @(Message.Role.Equals(Assistant) ? Message.NarrativePart : Message.Content)</p>
</div>

@code {
    [Parameter]
    public required OpenAiGptMessage Message { get; set; }

    private string MessagePrefix => Message.Role.Equals(Assistant)
        ? "Assistant" : "Player";
}
