@inject NavigationManager NavMan

<AuthorizeView>
    <Authorized>
        <a href="Identity/Account/Manage">Hello, @context.User.Identity?.Name!</a>
        <form method="post" action="Identity/Account/Logout">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <div class="btn-group">
            <button class="btn btn-secondary" @onclick="Register">Register</button>
            <button class="btn btn-secondary" @onclick="Login">Log in</button>
        </div>
    </NotAuthorized>
</AuthorizeView>


@code {
    private void Register()
    {
        NavMan.NavigateTo("Identity/Account/Register");
    }

    private void Login()
    {
        NavMan.NavigateTo("Identity/Account/Login");
    }
}
